<!DOCTYPE html>
<html>
  <head>
    <title>WebApp</title>
    <link rel="stylesheet" href="http://cdnjs.cloudflare.com/ajax/libs/leaflet/1.0.3/leaflet.css" />
	<script src="http://cdnjs.cloudflare.com/ajax/libs/leaflet/1.0.3/leaflet.js"></script>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <script src="http://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <style>body { padding: 0; margin: 0; }
		/*html, body, #map-canvas { height: 100%; width: 100%; }*/
	</style>
  </head>
  <body>
  	<script type='text/javascript' src='javascripts/app.js'>
	</script>
    <div class='mapbox' id="map-canvas"></div>
    <div class ='ui-navbar'>
      <!-- <p>TEST</p> -->
    </div>
  </body>
</html>
